body {
  background-color: #30343c;
  max-width: 100%;
}

.calculator-container {
  background-color: #30343c;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  max-width: 800px; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: background-pulse 2s ease-in-out infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 968px) {
  .animation-container {
    padding: 15px; 
    max-width: 100%; 
  }

  .calculate input {
    padding: 13px;
    border-radius: 10px;
    font-size: 16px; 
  }

  .button-row button {
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
  }

  .animation-container {
    font-size: 17px; 
  }
}

.calculate input {
  background-color: #30343c;
  color: #fff;
  border: none;
}



